<h1><%= @project.title %></h1>
<p>Author: <%= link_to(@project.user.username, @project.user) %></p>
<p>Category: <%= @project.tag_list %></p>
<p><%== @project.description %></p>


<% if user_signed_in? %>
  <% if current_user.email == @project.user.email %>
    <%= link_to 'Edit', edit_project_path %>
    <%= link_to 'Delete', project_path, method: :delete, data: {confirm: 'Are you sure?'} %>
  <% end %>
<% end %>
