<!DOCTYPE html>
<html>
<head>
  <title>Playlabs</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
  <div id="top_bar">
    <div class="container-fluid">
      <div class="row" style="background-color:rgba(0,100,100,0.1);">
        <div class="col-sm-12">
          <div class="col-sm-8">
            <nav class="navbar-default" style="background-color:transparent">
              <%= button_to 'HOME', root_path, :action => 'get', :method => 'get', class: 'btn btn-default btn-sm tpnt_button pull-left'%>
              <%= link_to('Create new project', new_project_path) %>
            </nav>
          </div>

          <% if user_signed_in? %>
          <div class="col-sm-4">
            <%= button_to 'Sign out', destroy_user_session_path, :action => 'destroy', :method => 'delete', class: 'btn btn-sm text-capitalize btn-primary pull-right'%>
            <%= link_to current_user.email , profile_path, :action => 'get', :method => 'get', class: 'pull-right' %>
            <%= image_tag(current_user.avatar.url(:thumb)) %>
          </div>
        </div>
      </div>
          <% else %>
          <div class="col-sm-4">
            <%= button_to 'Sign Up', new_user_registration_path, :action => 'get', :method => 'get', class: 'btn btn-sm text-capitalize btn-primary pull-right'%>
            <%= button_to 'Login', new_user_session_path, :action => 'get', :method => 'get', class: 'btn btn-default btn-sm text-capitalize btn-primary pull-right'%>
          </div>
        </div>
      </div>
          <% end %>
    </div>

  <% flash.each do |name, msg| %>
    <%= content_tag :div, msg, class: "alert" %>
  <% end %>

  <div class="container">
    <%= yield %>
  </div>

</body>
</html>
